---
- hosts: localhost
  become: yes
  vars:
    mysql_root_password: "password"
    wp_db_name: "wordpress"
    wp_db_user: "wpuser"
    wp_db_password: "wppassword"
    wp_db_host: "localhost"

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install core LAMP packages
      apt:
        name:
          - apache2
          - mariadb-server
          - php
          - php-mysql
          - libapache2-mod-php
          - php-curl
        state: present

    - name: Install PyMySQL for MySQL modules
      pip:
        name: PyMySQL
        executable: /home/vagrant/.local/bin/pip3
        state: present
      ignore_errors: yes

    - name: Start and enable Apache
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Start and enable MariaDB
      service:
        name: mariadb
        state: started
        enabled: yes

    - name: Set MariaDB root password
      mysql_user:
        name: root
        password: "{{ mysql_root_password }}"
        login_user: root
        login_password: ""
        state: present
      ignore_errors: yes

    - name: Remove anonymous MySQL users
      mysql_user:
        name: ""
        host_all: yes
        state: absent
        login_user: root
        login_password: "{{ mysql_root_password }}"
      ignore_errors: yes

    - name: Remove test database
      mysql_db:
        name: test
        state: absent
        login_user: root
        login_password: "{{ mysql_root_password }}"
      ignore_errors: yes

    - name: Create WordPress database
      mysql_db:
        name: "{{ wp_db_name }}"
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"
      ignore_errors: yes 

    - name: Create WordPress MySQL user
      mysql_user:
        name: "{{ wp_db_user }}"
        password: "{{ wp_db_password }}"
        priv: "{{ wp_db_name }}.*:ALL"
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"
      ignore_errors: yes 

    - name: Download WordPress
      get_url:
        url: https://wordpress.org/latest.tar.gz
        dest: /tmp/wordpress.tar.gz

    - name: Unarchive WordPress
      unarchive:
        src: /tmp/wordpress.tar.gz
        dest: /var/www/html
        remote_src: yes

    - name: Set permissions for WordPress
      file:
        path: /var/www/html/wordpress
        recurse: yes
        owner: www-data
        group: www-data

    - name: Copy wp-config.php
      copy:
        content: |
          <?php
          define('DB_NAME', '{{ wp_db_name }}');
          define('DB_USER', '{{ wp_db_user }}');
          define('DB_PASSWORD', '{{ wp_db_password }}');
          define('DB_HOST', '{{ wp_db_host }}');
          define('AUTH_KEY', 'unique_auth_key_edu');
          define('SECURE_AUTH_KEY', 'unique_secure_auth_edu');
          define('LOGGED_IN_KEY', 'unique_logged_in_edu');
          define('NONCE_KEY', 'unique_nonce_edu');
          define('AUTH_SALT', 'unique_auth_salt_edu');
          define('SECURE_AUTH_SALT', 'unique_secure_auth_salt_edu');
          define('LOGGED_IN_SALT', 'unique_logged_in_salt_edu');
          define('NONCE_SALT', 'unique_nonce_salt_edu');
          $table_prefix = 'wp_';
          define('WP_DEBUG', false);
          if ( ! defined('ABSPATH') ) {
              define('ABSPATH', __DIR__ . '/');
          }
          require_once ABSPATH . 'wp-settings.php';
        dest: /var/www/html/wordpress/wp-config.php
      notify: restart apache

    - name: Remove default Apache page
      file:
        path: /var/www/html/index.html
        state: absent

    - name: Clean up
      file:
        path: /tmp/wordpress.tar.gz
        state: absent

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted